{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions"]
      },
      "debug": false
    }]
  ],
  "env": {
      "test": {
        "plugins": [
          ["istanbul", {
            "exclude": [
              "test/spec/**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
