# osx
.DS_Store

# IDE
.project
.pydevproject

*.pid
*.log

examples/media/test

# Dependency-related directories
node_modules
bower_components

# Build-related
dist/
docs/
tmp
coverage/

# Test
.chrome
