matrix:
  include:
    - os: linux
      dist: trusty
      sudo: false
    - os: osx
addons:
  chrome: stable
  firefox: latest
env:
  - MOZ_HEADLESS=1
language: node_js
node_js:
  - '9'
install:
  - npm prune
  - npm install
script:
  - npm run build
  - npm run test
cache:
  directories:
    - node_modules
