dist: bionic

language: node_js
node_js:
  - lts/*

addons:
  chrome: beta
  firefox: latest
  apt:
    packages:
      - ubuntu-restricted-addons
      - chromium-codecs-ffmpeg-extra
      - gstreamer1.0-fluendo-mp3
      - gstreamer1.0-libav
      - gstreamer1.0-plugins-ugly
      - gstreamer1.0-vaapi

services:
  - xvfb

before_install:
  - sudo update-alternatives --set google-chrome /usr/bin/google-chrome-beta

install:
  - npm install

script:
  - npm run lint || travis_terminate 1
  - npm run build || travis_terminate 1
  - npm run test || travis_terminate 1
  - npm run docs || travis_terminate 1

cache:
  directories:
    - node_modules
